*,                     /*                                  general style for all pages >                                       */
*::after,                 
*::before {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen,
    ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial,
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  color: #555555;
  background-color: #ffffff;
  margin: 0;
  padding-bottom: 100px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  color: #aaa;
}

h1,
h2,
h3,
h4,
h5 {
  color: #394352;
}

header {
  height: 95px;
  border-bottom: 2px solid #eeeeee;
  display: flex;
  align-items: center;
}

.container {
  width: 1350px;
  margin: 0 auto;
  padding: 0 10px;
}

header nav a:hover {
  border-bottom: 1px solid #aaa;
}

header nav {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.header__inner {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.named__logo {
  height: 100px;
}

.named__logo__svg {
  position: absolute;
  top: 0;
}

.menu__list {
  display: flex;
}

.menu__item {
  padding-left: 10px;
}

.menu__icons {
  margin-left: 180px;
  display: flex;
  justify-content: space-between;
}

.menu__icons__item {
  margin-right: 10px;
  padding-left: 10px;
}

.menu__link {
  font-size: 15px;
  text-transform: uppercase;
  padding: 0px 20px;
  transition: all 0.2s;
} /*                        < general style for all pages                                 */

.cart-first {
  background-image: url("/img/breadcrumb-bg.jpg");
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.webcart {
  width: 100%;
  height: 800px;
  outline: 1px solid;
  border-radius: 60px;
  background-color: gainsboro;
}

.card_details {
  width: 370px;
  height: 600px;
  border-radius: 20px;
  outline: 2px solid;
  background-color: #394352;
}

.item_details {
  outline: 1px solid;
  flex: 1;
  background-color: black;
  width: 100%;
  height: 50px;
}

.wweebbb {
  display: flex;
}

.shop_cart_table {
  width: 100%;
  height: 800px;
}

.payment_text {
  color: white;
  margin-top: 20px;
  padding-top: 30px;
  font-size: 30px;
}

.payment_text_small {
  color: white;
  font-weight: 300;
  text-align: left;
  margin-left: 20px;
  margin-right: 200px;
}

.input_payment {
  margin-right: 160px;
  margin-left: 20px;
  opacity: 0.7;
  color: white;
}

.input_month {
  margin-right: 140px;
}

.cart_image {
  width: 60px;
  height: 60px;
}

footer {
  /*                            general style for all pages >                          */
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  padding: 10px 0;
  width: 100%;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.company__name,
.about__us__text {
  color: white;
  text-align: center;
}

.company__info__item,
.authors__name {
  padding-bottom: 20px;
  text-align: center;
}

.footer__text {
  border-top: 1px solid #eeeeee;
  text-align: center;
} /*                   < general style for all pages  */